section.blog-header 
    h2.blog-header__title Blog Afrianska
    h4.blog-header__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua. 
.search-form
    img(src="img/icon-search.png").search-form__icon
    input(type="text", placeholder="Search Article").search-form__input