header.header
    a(href="index.html").header__logo
        img(src='img/svg/logo.svg')
    button.header__burger-menu
        img(src='img/svg/burger-menu.svg').header__menu-img
.menu
    button.menu__close
        img(src='img/svg/close-menu.svg')
    ul.menu__items
        li.menu__item 
            a(href="index.html") About US
        li.menu__item
            a(href="blog.html") Blog
        li.menu__item 
            a(href="contact-us.html") Contact Us