section.blog-all-article
    h4.blog-all-article__title All Article
    .blog-all-article-wrap
        .article
            img(src="img/article-1.png").article__img
            .container
                h3.article__title Massa eu in laoreet enim augue vulputate nunc.
                p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
                .article__meta
                    .container 
                        .article__author Samatha Leuthex
                        .article__date May&nbsp5, 3&nbspmin&nbspread
                    .container.article__button-container
                        img(src="img/icon-fav.png").article__fav-btn
                        img(src="img/icon-share.png").article__share-btn
    .blog-all-article-wrap
        .article
            img(src="img/article-2.png").article__img
            .container
                h3.article__title Feugiat a euismod arcu feugiat posuere morbi.
                p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
                .article__meta
                    .container 
                        .article__author Samatha Leuthex
                        .article__date May&nbsp5, 3&nbspmin&nbspread
                    .container.article__button-container
                        img(src="img/icon-fav.png").article__fav-btn
                        img(src="img/icon-share.png").article__share-btn
    .blog-all-article-wrap
        .article
            img(src="img/article-3.png").article__img
            .container
                h3.article__title Sociis purus pellentesque faucibus vitae et felis.
                p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
                .article__meta
                    .container 
                        .article__author Samatha Leuthex
                        .article__date May&nbsp5, 3&nbspmin&nbspread
                    .container.article__button-container
                        img(src="img/icon-fav.png").article__fav-btn
                        img(src="img/icon-share.png").article__share-btn
    .blog-all-article-wrap
        .article
            img(src="img/article-4.png").article__img
            .container
                h3.article__title Cursus feugiat mi pellentesque mauris sed eu.
                p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
                .article__meta
                    .container 
                        .article__author Samatha Leuthex
                        .article__date May&nbsp5, 3&nbspmin&nbspread
                    .container.article__button-container
                        img(src="img/icon-fav.png").article__fav-btn
                        img(src="img/icon-share.png").article__share-btn
    .blog-all-article-wrap
        .article
            img(src="img/article-5.png").article__img
            .container
                h3.article__title A morbi arcu curabitur etiam fringilla augue.
                p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
                .article__meta
                    .container 
                        .article__author Samatha Leuthex
                        .article__date May&nbsp5, 3&nbspmin&nbspread
                    .container.article__button-container
                        img(src="img/icon-fav.png").article__fav-btn
                        img(src="img/icon-share.png").article__share-btn
    .blog-all-article__control
        .blog-all-article__prev-page 
            img(src="img/icon-card-arrow.png")
            p New Post
        .blog-all-article__next-page
            p Old Post
            img(src="img/icon-card-arrow.png")
