section.blog-popular 
    h4.blog-popular__title Popular
    .blog-popular-wrap
        .article_wide
            .container
                h3.article__title Feugiat sodales at nullam tellus.
                p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
                .article__meta
                    .container 
                        .article__author Samatha Leuthex
                        .article__date May&nbsp5, 3&nbspmin&nbspread
                    .container.article__button-container
                        img(src="img/icon-fav.png").article__fav-btn
                        img(src="img/icon-share.png").article__share-btn
            img(src="img/article-big.png").article_wide__img
        .article_vertical 
            img(src="img/article-vertical-1.png").article__img
            h3.article__title Porta proin tellus sed pulvinar odio eu pulvinar.
            p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .article__meta
                .container 
                    .article__author Samatha Leuthex
                    .article__date May&nbsp5, 3&nbspmin&nbspread
                .container.article__button-container
                    img(src="img/icon-fav.png").article__fav-btn
                    img(src="img/icon-share.png").article__share-btn
        .article_vertical 
            img(src="img/article-vertical-2.png").article__img
            h3.article__title Non quam tortor, proin eu egestas scelerisque purus.
            p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .article__meta
                .container 
                    .article__author Samatha Leuthex
                    .article__date May&nbsp5, 3&nbspmin&nbspread
                .container.article__button-container
                    img(src="img/icon-fav.png").article__fav-btn
                    img(src="img/icon-share.png").article__share-btn
        .article_vertical 
            img(src="img/article-vertical-3.png").article__img
            h3.article__title Amet amet sed pharetra risus sit eget interdum.
            p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .article__meta
                .container 
                    .article__author Samatha Leuthex
                    .article__date May&nbsp5, 3&nbspmin&nbspread
                .container.article__button-container
                    img(src="img/icon-fav.png").article__fav-btn
                    img(src="img/icon-share.png").article__share-btn
    p.blog-popular__more See All Popular Article
    hr.blog-popular__line