.filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, #98C3E8 8.84%, 
                        rgba(152, 195, 232, 0) 31.12%);
    opacity: .2;
}
.hero{
    margin-bottom: 180px;
    overflow: hidden;
}
.hero__wrap{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__title{
    content: 'hello';
    position: relative;
    margin-bottom: 32px;
    font-family: "Galien", serif;
    font-size: 4rem;
    color: $blue-1;
}
.hero__subtitle{
    margin: 0;
    margin-bottom: 72px;
    color: $blue-1;
    opacity: .6;
}
.hero__button{
    width: 220px;
    box-shadow: 5px 10px 20px rgb(53, 110, 173, .2);
}
.hero__illustration{
    position: absolute;
    max-width: 90%;
    top: -60px;
    right: -280px;
    z-index: -1;
}

@media (max-width: 640px) {
    .hero__illustration{
        max-width: 100vw;
        top: 100px;
        right: -220px;
    }
}