.filter
section#about.hero
    .hero__wrap
        h1.hero__title New Automation<br>Tool for Your Home<img class="hero__illustration" src="img/hero-illustration.png">
        p.hero__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Faucibus tristique vulputate ultrices ut mauris<br> tellus at. Posuere sollicitudin odio tellus elit.
        a(href="blog.html") <button class="button hero__button">See Our Project</button>