section#what-we-do.what-we-do 
    h2.what-we-do__title What we do to&nbsphelp<br>our client grow&nbspin<br>digital era.
    .card.card_first
        img(src="img/card-1.png").card__pic.card__pic_first
        h4.card__title Bring Technology To Your<br>Comfrotable Home
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .card__more Learn more<img class="card__more_arrow" src="img/icon-card-arrow.png">
    .card.card_second
        img(src="img/card-2.png").card__pic.card__pic_second
        h4.card__title Make Your business To Be<br>Better Famous In Internet
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .card__more Learn more<img class="card__more_arrow" src="img/icon-card-arrow.png">
    .card.card_third
        img(src="img/card-3.png").card__pic.card__pic_third
        h4.card__title Build Your Digital Product<br>That Suitable For Your Need
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .card__more Learn more<img class="card__more_arrow" src="img/icon-card-arrow.png">