.footer-big{
    background-color: $blue-4;
    border-top-left-radius: 200px;
}
.footer-big{
    position: relative;
}
.footer *{
    z-index: 2;
}
.footer > *{
    position: relative;
}
.footer::before{
    content: '';
    position: absolute;
    border-top-right-radius: 200px;
    width: 95%;
    height: 100%;
    background-color: $blue-2;
    z-index: 1;
}
.footer-top{
    margin: 0 auto;
    max-width: 940px;
}
.footer-top__title-wrap{
    padding: 0 40px;
    padding-top: 100px;
    display: flex;
}
.footer__title{
    color: #fff;
    margin-right: 92px;
}
.footer__text{
    color: #fff;
    opacity: .6;
}
.footer-clients{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    height: 256px;
    margin-top: 110px;
}
.footer-clients__client{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-clients__client:nth-child(-n+4){
    border-bottom: solid 1px rgb(255, 255, 255, .4);
}
.footer-clients__client:nth-child(n+5):not(:last-child),
.footer-clients__client:nth-child(-n+3){
    border-right: solid 1px rgb(255, 255, 255, .4);
}
.footer-clients__client:last-child{
    background-color: rgba(31, 63, 104, .2);
}
.footer-bottom{
    position: relative;
    margin-top: 125px;
}
.footer-bottom *{
    z-index: 2;
}
.footer-bottom > *{
    position: relative;
}
.footer-bottom::before{
    content: '';
    position: absolute;
    border-top-right-radius: 200px;
    width: 95%;
    height: 100%;
    background-color: $blue-2;
    z-index: 1;
}
.footer-bottom__title-wrap{
    max-width: 940px;
    margin: 0 auto;
    padding-top: 90px;
    padding-right: 80px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.footer-bottom__title{
    margin-bottom: 32px;
}
.footer__button{
    width: 220px;
    margin-left: auto;
}
.footer__line{
    margin: 96px auto;
    opacity: .4;
    max-width: calc(940px * 2);
    padding-right: 80px;
    transform: translate(-25%, 0);
}
.contacts{
    margin: 0 auto;
    max-width: 940px;
    padding-right: 80px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.logo-wrap{
    display: flex;
    align-items: center;
}
.logo-wrap__company-name{
    margin-left: 16px;
}
.nav__title, .socials__title{
    margin-bottom: 32px;
    color: #fff;
}
.item{
    position: relative;
    list-style: none;
    color: #fff;
}
.item:not(:last-child){
    margin-bottom: 16px;
}
.info__items{
    margin-top: 32px;
    margin-left: 32px;
    & > li::before{
        font-family: "Gilroy Semibold", sans-serif;
        position: absolute;
        left: -32px;
    }
}
.info__text::before{
    content: "A.";
}
.info__telephone::before{
    content: "T.";
}
.info__email::before{
    content: "E.";
}
.footer__copyright{
    max-width: 940px;
    margin: 0 auto;
    padding: 64px 0;
    padding-left: 20px;
    color: #fff;
    opacity: .4;
}

@media (max-width: 640px) {
    .footer-top__title-wrap{
        flex-direction: column;
    }
    .footer-bottom__title-wrap{
        flex-direction: column;
    }
    .contacts{
        flex-direction: column;
        align-items: center;
    }
    .nav, .socials{
        margin-top: 32px;
    }
    .nav__title, .socials__title{
        text-align: center;
    }
    .item{
        text-align: center;
    }
}