section#project.our-finished-project
    .our-finished-project__title-wrap
        h2.our-finished-project__title Our&nbspFinished<br>Project
        p.our-finished-project__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br>eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>Ut enim ad minim veniam.
    .block.block_wide(style="background-image: url('img/ofp-1-wide.png')")
        h3.block__title Smart Home Installation
        p.block__subtitle In Muarakana Housing Estate
    .block(style="background-image: url('img/ofp-2.png')")
        h3.block__title Sparklite App
        p.block__subtitle Marketplace
    .block(style="background-image: url('img/ofp-3.png')")
        h3.block__title Car-Rapetition App
        p.block__subtitle Board