footer#how-it-work-with-us.footer
        .footer__title-wrap 
            .wrap
                h2.footer__title Intersted to work<br>with our team?
                p.footer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>sed do eiusmod tempor incididunt ut labore et dolore<br>magna aliqua. Ut enim ad minim veniam.
            button.button.footer__button Let’s Talk
        .footer__line <hr>
        .contacts
            .wrap
                .logo-wrap
                    img(src='img/svg/logo-alt.svg')
                    h3.logo-wrap__company-name Afrianska
                .info
                    ul.info__items
                        li.item.info__text Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit.
                        li.item.info__telephone +62-812-7313-4321
                        li.item.info__email hello.afrian@gmail.com
            .nav 
                h4.nav__title About US
                ul.nav__items
                    li.item <a href="#about">About</a>
                    li.item <a href="#what-we-do">What We Do</a>
                    li.item <a href="#project">Project</a>
                    li.item <a href="#how-it-work-with-us">How It Work With Us</a>
            .socials
                h4.socials__title Follow US
                ul.socials__items
                    li.item <a>Instagram</a>
                    li.item <a>Facebook</a>
                    li.item <a>LinkedIn</a>
                    li.item <a>Youtube</a>
        p.footer__copyright 2019 © Afrianska. All rights reserved.
        