section.feedback
    .feedback-contacts 
        img(src="img/contacts-illustration.png").feedback-contacts__illustration
        .address-wrap
            h4.address__title Address
            p.address__text Id convallis placerat sit sed duis id<br>amet volutpat quam a, pharetra.
        .phone-wrap 
            h4.phone__title Phone
            .phone__item 
                img(src="img/icon-phone.png").phone__icon
                p.phone__text +62-812-7313-4321
            .phone__item 
                img(src="img/icon-phone.png").phone__icon
                p.phone__text +62-817-000-1234
        .online-service-wrap 
            h4.online-service__title Online Service
            .online-service__item
                img(src="img/icon-web.png").online-service__icon
                p.online-service__text www.afrianska.com
            .online-service__item
                img(src="img/icon-email.png").online-service__icon
                p.online-service__text hello.afrian@gmail.com
    .feedback-form
        form.form
            h4.form__title Send Us Message
            .form__name
                label Full Name
                input(type="text", placeholder="Your Name")
            .form__email
                label Email
                input(type="text", placeholder="Your Email")
            .form__message 
                label Message
                textarea(rows="4", placeholder="Your Message") 
            button.button.form__submit Submit